# Dependencies
numpy
pandas
scikit-learn
pyvis
networkx
netgraph
scipy
sklearn
scikit-learn
argparse
pickle-mixin
pytest-shutil
joblib
statsmodels
#multiprocessing 
#itertools
#collections
matplotlib
seaborn
scanpy
pysnptools

# Documentation
sphinx
sphinx-autodoc-typehints 
sphinx_rtd_theme
myst_parser
better_apidoc

# Testing
nose==1.3.7
pinocchio==0.4.2
coverage==4.5.4
